<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_reg.css">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="POST">
        <h2>Registration is on!!!</h2>
        <label for=" fname"> First Name </label>
        <br>
        <input type="text" name="FirstName" id="fname" required>
        <br>
        <label for=" lname"> Last Name </label>
        <br>
        <input type="text" name="LastName" id="lname" required>
        <br>
        <label for=" email"> Email id </label>
        <br>
        <input type="email" name="Email" id="email" required>
        <br>
        <label for=" pswd"> Password  </label>
        <br>
        <input type="password" name="password" id="pswd" required>
        <br>
        <label for=" DOB"> Date of Birth  </label>
        <br>
        <input type="date" name="dob" id="DOB" required>
        <br>
        <input type="submit" value="Submit">
    <p>Done with Registration?</p>
    <a href= login>Log in HERE</a>
    </form>
    <br>
    <br>
    <footer>Thank You</footer>

    
</body>
</html>